<div class="prof_header">


    <img class="prof_pic" src="<%= @user.profile_pic_url %>">



    <h1><%= "@#{@user.username}" %></h1>

</div>
<p class="bio"><%= @user.bio %></p>
<p class="delete">
  <%= link_to "I'm vegan now", user_path(@user),
      method: :delete,
      data: { confirm: "Are you sure you want to permanently delete your account?" } %>
</p>
