<h1>Create a new post</h1>

<div>
  <%= form_for [ @user, @post ] do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <p>
      <%= f.submit "Share!" %>
    </p>
  <% end %>
</div>
<p class="back">
  <%= link_to "<< Nevermind", "/", {:class => "cancel"} %>
</p>
